#button-expandable button {
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 0.3em;
    color: cadetblue;
    border: 1px solid cadetblue;
    box-shadow: 1px 1px 3px 0 rgb(180, 180, 180);
    background: white;
    font: inherit;
}

/*Things are visible by default, we hide them if needed*/
#button-expandable [aria-hidden=true] {
    display: none;
}

#button-expandable button:after {
    content: '\25b4\0020';
    padding-left: 0.5rem;
}

#button-expandable button:focus, #button-expandable button:hover {
    background: cadetblue;
    color: white;
    transition: all 0.5s;
    outline: none;
}

#button-expandable button[aria-expanded=false]:after {
    content: '\25be\0020';
}

