div#button-expandable
    button(aria-haspopup='true',type='button', aria-expanded='true', aria-controls='button-expandable-section') toggle
    div#button-expandable-section
        p(tabindex='0') Hello world
