div#checkbox-expandable
    input#checkbox-button.visuallyhidden(type='checkbox',aria-haspopup='true', aria-controls='checkbox-expandable-section')
    label(for='checkbox-button') toggle
    div#checkbox-expandable-section
        p I can be shown/hidden
