#accordions-sample {
    padding: 1rem;
}

#accordions-sample > * {
    margin: 0;
}

#accordions-sample [role=tabpanel] {
    background: #e8e8e8;
    padding: 1rem;
}

/* simple arrow adorners */
#accordions-sample .adorner {
    padding: 0.5rem;
}

#accordions-sample .adorner:after {
    content: '\25b7\0020';
}

#accordions-sample [role=tab] {
    padding: 0.5rem;
    border: 1px solid #4b4b4b;
}

#accordions-sample [role=tab][aria-expanded=true] > .adorner:after {
    content: '\25bd\0020';
}

/*end adorner */

#accordions-sample [role=tabpanel][aria-hidden=true] {
    display: none;
}

#accordions-sample [role=tab][aria-selected=true] {
    background: lightsalmon;
    color: white;
}

/*react to both keyboard and mouse focus*/
#accordions-sample [role=tab]:focus,
#accordions-sample [role=tab]:hover {
    background: salmon;
    outline: 0;
    color: white;
    box-shadow: 0 0 5px 0 black;
    transform: scale(1.02, 1.02);
    transition: all 0.5s;
}