div#accordions-sample(role='tablist')
    h4#tab1(tabindex=0, role='tab', aria-controls='tabpanel1')
        span.adorner(aria-hidden='true')
        | Header one
    p#tabpanel1(aria-labelledby='tab1',role='tabpanel')
        | Content of section 1 with a #[a(href='#foo') focusable element]
    h4#tab2(role='tab', aria-controls='tabpanel2')
        span.adorner(aria-hidden='true')
        | Header two
    p#tabpanel2(aria-labelledby='tab2',role='tabpanel')
        | Content of section 2 with a #[a(href='#foo') focusable element]
    h4#tab3(role='tab', aria-controls='tabpanel3')
        span.adorner(aria-hidden='true')
        | Header three
    p#tabpanel3(aria-labelledby='tab3',role='tabpanel')
        | Content of section 3 with a #[a(href='#foo') focusable element]
    h4#tab4(role='tab', aria-controls='tabpanel4')
        span.adorner(aria-hidden='true')
        | Header four
    p#tabpanel4(aria-labelledby='tab4',role='tabpanel')
        | Content of section 4 with a #[a(href='#foo') focusable element]

