html {
    font-size: calc(1em + 0.2vw);
}

main {
    max-width: 60rem;
    margin: auto;
}

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

body * {
    box-sizing: inherit;
}

p {
    margin: 1.5rem 0;
    line-height: 1.5;
    font-size: 1rem;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

[data-lrtiste-tabs] {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

[data-lrtiste-tabs] [role=tablist] {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 0;
    padding: 0;
}

[data-lrtiste-tabs] [role=tablist] > * {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: stretch;
}

[data-lrtiste-tabs] [role=tablist] > *:not(:last-child) {
    padding-right: 0.2rem;
}

[data-lrtiste-tabs] a[role=tab] {
    flex-grow: 1;
    padding: 1rem;
    text-align: center;
    border-color: lightgray lightgray #5e7eff lightgray;
    border-style: solid;
    border-width: 1px 1px 2px 1px;
    text-decoration: none;
    color: inherit;
}

[data-lrtiste-tabs] a[role=tab][aria-selected=true] {
    border-color: #5e7eff;
    border-width: 2px 2px 0 2px;
    border-radius: 0.5rem 0.5rem 0 0;
    background: #f8f8f8;
    box-shadow: 0 0 0.3rem 0 rgb(120,120,120);
}

[data-lrtiste-tabs] a[role=tab]:hover {
    background: #97aeff;
    color: white;
    transition: all 0.5s;
}

[data-lrtiste-tabs] a[role=tab]:focus {
    outline: 0;
    background: #5e7eff;
    color: white;
    transition: background 0.5s, color 0.5s;
}

[data-lrtiste-tabs] [role=tabpanel] {
    flex-basis: 100%;
    max-width: 100%;
    border-bottom: 2px solid #5e7eff;
    background: #f8f8f8;
    padding: 1rem;
}

[data-lrtiste-tabs] [role=tabpanel][aria-hidden] {
    display: none;
}

[data-lrtiste-tabs] [role=tabpanel][aria-hidden=false] {
    display: block;
    animation: 0.5s in;
}

@keyframes in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}