[role=checkbox] {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

/*the tick*/
[role=checkbox] > span:first-child {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px solid #515151;
}

/*the label*/
[role=checkbox] > span:last-child {
    flex-grow: 1;
    padding-left: 0.5rem;
}

/* when focused */
[role=checkbox]:focus {
    outline: 1px solid #5e7eff;
}

[role=checkbox]:focus > span:first-child {
    border-color: #5e7eff;
    transition: border-color 0.4s;
}

[role=checkbox]:focus > span:last-child {
    color: #5e7eff;
    transition: color 0.4s;
}

/* when checked */
[role=checkbox][aria-checked=true] > span:first-child {
    background: #515151;
    transition: background 0.4s;
}