extends ../../layout/main
include ../../partials/code
include ../../partials/content

block content
    style
        include ./samples/checkbox.css
    h1 Build a custom accessible component with lrtiste behaviours
    p In this tutorial we are going to assume that for any reason you can't use the default HTML5 checkbox input and we are going to build an accessible #[a(href='https://www.w3.org/TR/wai-aria-practices/#checkbox') dual state checkbox widget] from scratch using lrtiste programmatic behaviours
    section
        h2#contest Contents
        nav
            ul
                +contentEntry('#markup','The markup')
                +contentEntry('#css','The style')
                +contentEntry('#script','The script')
    section
        h2#markup
        p We make sure our widget has the role #[code checkbox] and a label (in our case it will be contained within our widget). We set the value of #[code tabindex] to 0 so that our element can be focused
        p the empty span element will be a visual feedback on the current state of the checkbox
        +code('checkbox.pug')
    section
        h2#css CSS
        p We are going to use the aria state #[em aria-checked] as a css selector in our stylesheet.
        include ./samples/checkbox
    script(src='./customs.js')







