div#menubar-sample
    ul(role='menubar')
        li(role='menuitem')
            button#b1(type='button', aria-haspopup='true',tabindex=0, aria-controls='submenu1') Menu 1
            ul#submenu1(aria-labelledby='b1', role='menu')
                li(role='menuitem') sub action 1.1
                li(role='menuitem') sub action 1.2
                li(role='menuitem') sub action 1.3
                li(role='menuitem') sub action 1.4
        li(role='menuitem')
            button#b2(type='button', aria-haspopup='true',tabindex='-1', aria-controls='submenu2') Menu 2
            ul#submenu2(aria-labelledby='b2', role='menu')
                li(role='menuitem') sub action 2.1
                li(role='menuitem') sub action 2.2
                li(role='menuitem') sub action 2.3
        li(role='menuitem')
            span Some single action
        li(role='menuitem', aria-haspopup='true')
            button#b4(type='button', aria-haspopup='true',tabindex='-1', aria-controls='submenu4') Menu 3
            ul#submenu4(aria-labelledby='b4', role='menu')
                li(role='menuitem') sub action 4.1
                li(role='menuitem') sub action 4.2
