[role=menubar] {
    display: flex;
    width: 100%;
    border: 1px solid #5e7eff;
    border-radius: 0.3rem;
}

[role=menubar] ul,
ul[role=menubar] {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* a kind of reset to align the theme of popup button to regular menu items*/
[role=menubar] button[aria-haspopup] {
    font: inherit;
    border: none;
    box-shadow: none;
}

[role=menubar] [role=menuitem] {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

/*leaf menuitems (increase click surface)*/
[role=menubar] [role=menuitem] [role=menuitem],
[role=menubar] > [role=menuitem] > span {
    padding: 0.5rem;
}

[role=menubar] > [role=menuitem],
[role=menubar] button[aria-haspopup=true] {
    position: relative;
    color: #5e7eff;
    background: white;
}

[role=menubar] [role=menuitem]:focus,
[role=menubar] button[aria-haspopup=true]:focus {
    background: #5e7eff;
    color: white;
    transition: all 0.5s;
    outline: none;
}

[role=menubar] > [role=menuitem] > *:first-child {
    flex-basis: 100%;
    text-align: center;
    font-weight: bolder;
}

[role=menubar] > [role=menuitem] > [aria-haspopup=true]:after {
    content: '\25be\0020';
    padding-left: 0.5rem;
}

[role=menubar] > [role=menuitem] > [aria-haspopup=true][aria-expanded=true]:after {
    content: '\25b4\0020';
}

[role=menubar] > [role=menuitem]:not(:last-child) {
    border-right: 1px solid #5e7eff;
}

[role=menubar] > [role=menuitem] [role=menu] {
    position: absolute;
    border-radius: 0 0 0.3rem 0.3rem;
    display: inline-block;
    z-index: 999;
    left: 0;
    top: 100%;
    width: 100%;
    background: white;
    color: #242424;
    border-top: 1px solid #5e7eff;
    box-shadow: 0 0.3rem 0.1rem 0 #454545;
}

[role=menubar] > [role=menuitem] [role=menu][aria-hidden=true] {
    display: none;
}

[role=menubar] > [role=menuitem] [role=menu][aria-hidden=false] {
    animation-name: menu-in;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

@keyframes menu-in {
    0% {
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform-origin: top;
        transform: scaleY(1);
        opacity: 1;
    }
}


