div#dropdown-sample
    button(aria-controls='menu-sample',type='button', aria-haspopup='true') Actions
    ul#menu-sample(role='menu')
        li(role='menuitem') action 1
        li(role='menuitem') action 2
        li(role='menuitem') action 3