div#progressive-tabs(role='tablist')
    input#progressive-tab1.visuallyhidden(aria-controls='progressive-panel1', role='tab',type='radio',name='progressive-tabs')
    label(for='progressive-tab1') Section 1
    section#progressive-panel1(role='tabpanel')
        h3 header for section 1
        p this is a paragraph
    input#progressive-tab2.visuallyhidden(aria-controls='progressive-panel2',checked='checked', role='tab',type='radio',name='progressive-tabs')
    label(for='progressive-tab2') Section two
    section#progressive-panel2(role='tabpanel')
        h3 Header for section two
        p this is a paragraph for 2
    input#progressive-tab3.visuallyhidden(aria-controls='progressive-panel3', role='tab',type='radio',name='progressive-tabs')
    label(for='progressive-tab3') Section three
    section#progressive-panel3(role='tabpanel')
        h3 Header for section three
        p this is a paragraph for 3