div#tabcontent-sample
    ul(role='tablist')
        li(role='presentation')
            a(href='#tabcontent-sample-1',aria-selected='true', aria-controls='tabcontent-sample-1', role='tab') Section 1
        li(role='presentation')
            a(href='#tabcontent-sample-2',aria-controls='tabcontent-sample-2', role='tab') Section 2
        li(role='presentation')
            a(href='#tabcontent-sample-3',aria-controls='tabcontent-sample-3', role='tab') Section 3
    div#tabcontent-sample-1(role='tabpanel')
        h4(tabindex=0) Header for section 1
        p foo bar woot test blah
    div#tabcontent-sample-2(role='tabpanel')
        h4(tabindex=0) Header for section 2
        p Another foo bar woot test blah
    div#tabcontent-sample-3(role='tabpanel')
        h4(tabindex=0) Header for section 1
        p Yet another foo bar woot test blah
